@import "tailwindcss";
@plugin "daisyui";

/* ---------- Light Theme ---------- */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #5BA600;      
  --color-secondary: #0D1741;     
  --color-accent: #FFC700;       
  --color-neutral: #F3F3F3;     
  --color-base-100: #FFFFFF;     
  --color-base-200: #FFFFFF;      
  --color-base-300: #E7E7E7;    
  --color-info: #3ABFF8;          
  --color-success: #36D399;       
  --color-warning: #FBBD23;      
  --color-error: #F87272;         
}

/* ---------- Dark Theme ---------- */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #5BA600;       
  --color-secondary: #A1B6FF;    
  --color-accent: #FFD700;        
  --color-neutral: #1F1F1F;       
  --color-base-100: #111111;     
  --color-base-200: #1A1A1A;      
  --color-base-300: #2A2A2A;      
  --color-info: #66D9FF;          
  --color-success: #36D399;       
  --color-warning: #FBBF24;       
  --color-error: #F87171;         
}

[data-theme="dark"] .nav {
  background-color: #252525;       
  color: var(--color-primary);     
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
  backdrop-filter: blur(8px);     
  border-bottom: 1px solid #333;  
  z-index: 50;                   
}

.activeClass a.active {
  @apply text-primary
}

.activeClass a:hover {
   @apply text-primary
}

[data-theme="dark"] .foot {
  background-color: #252525;       
  color: var(--color-primary);   
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
  backdrop-filter: blur(8px);     
  border-bottom: 1px solid #333;  
                  
}


@keyframes leftToCenter {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rightToCenter {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation utility classes */
.animate-left-to-center {
  animation: leftToCenter 1s ease-out;
}

.animate-right-to-center {
  animation: rightToCenter 1s ease-out;
}


@keyframes fadeInCenter {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in-center {
  animation: fadeInCenter 1.2s ease-out forwards;
}
